/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}
/*Common*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    
}
.col-3{
    width: calc(100%/3);
}
.col-2{
    width: 50%;
}
.col-1{
    width: 100%;
}
/*Common margin custom*/
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
/*Other Comon*/
.pull-right{
    float: right !important;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.btn{
    padding: 10.5px 15.5px;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.btn:hover{
    background-color: #ccc;
    color: #000;
}
/*Main*/
header{
    --height: 46px;
    width: 100%;
    height: var(--height);
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 999;

}
#nav{
    display: inline-block;
}
#nav>li{
    display: inline-block;
}
#nav li{

    padding: 0 24px 0 24px;
    position: relative;
}

#nav li:hover{
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav li:hover a, #nav .subnav a{
    color: #000;
}

#nav >li> a{
    color: #fff;
    text-transform: uppercase;
    line-height: var(--height);
}

#nav li a{
    text-decoration: none;
    text-align: center;


}
#nav .subnav{
    position: absolute;
    background-color: #fff;
    left: 0;
    box-shadow: 0 0 10px rgba(0 ,0, 0, 0.3);
    display: none;
    min-width: 160px;
}
#nav .subnav li{
    list-style: none;
    padding: 0 16px;
    line-height: 38px;
}
header .search-btn{
    float: right;
    color: #fff;
    font-size: 16px;
    line-height: var(--height);
    padding: 0 23px;
}
header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/*banner*/
#banner{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-color: antiquewhite;
    background: url("./img/banner/chicago.jpg") top center /cover no-repeat;
}

.text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.text-heading{
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}

.text-description{
    font-size: 15px;
    margin: 15px 0;
}
/*content*/
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;

}
#content .section-heading, #content .section-sub-heading{
    text-align: center;
}
#content .section-heading{
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#content .section-sub-heading{
    margin: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
/*About section*/
#content .about-text{
    margin: 15px; 
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    padding: 32px 0;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/*Tour section*/
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/*Place list*/
.places-list{
    margin-top: 32px;
}

.place-content{
    background-color: #fff;
    padding:  16px;
    font-size: 15px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-heading{
    font-weight: 600;
}
.place-time{
    opacity: 0.6;
    margin-top: 15px;
    line-height: 1.4;

}
.place-desc{
    margin-top: 15px;
}
/*Contact section*/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="fa-"]{
    width: 30px;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 9px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
}
/*Footer section*/
footer{
    padding: 64px 16px;
    text-align: center;
}
.social-item, .socials-list a,.copy-right{
    font-size: 24px;
    color: #757575;
}
.social-item:hover{
    color: #ccc;
    cursor: default;
}
footer .copy-right, .socials-list a{
    margin-top: 15px;
    font-size: 15px;
}